* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    flex-direction: column;

}

.main input {
    border-radius: 6px;
    background-color: rgb(40, 40, 40);
    border: none;
    min-width: 100px;
    height: 7vh;
    width: 40vh;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: rgba(134, 134, 134, 0.562);
    font-weight: 700;
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.651);
    caret-color: rgba(68, 68, 68, 0.658);
}

.main input:focus {
    outline: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.651);
}

.main h1 {
    margin-top: 10px;
    color: rgb(151, 151, 151);
    font-size: 140px;
    opacity: 0.3;
    user-select: none;
    text-shadow: 5px 2px 10px rgb(0, 0, 0), -2px -2px 5px rgba(255, 255, 255, 0.356);
}