* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #fff;
    background: #1e1e1e;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container h1 {
    font-size: 50px;
}

.container span {
    color: lightgreen;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display input {
    cursor: pointer;
    user-select: none;
}

input {
    background-color: rgb(76, 76, 76);
    border: none;
    border-radius: 9px;
    padding: 15px 20px;
    scale: 120%;
    width: 350px;
    border: 0;
    outline: 0;
    font-weight: 600;
}

::placeholder {
  font-weight: 700;
  color: #1e1e1e;
}

img {
    height: 25px;
    position: relative;
    right: 10px;
    cursor: pointer;
}

#btn {
    background-color: lightgreen;
    color: rgb(4, 75, 0);
    padding: 10px 40px;
    border-radius: 11px;
    font-size: 14px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition-duration: 100ms;
}

#btn:hover {
    background-color: rgb(119, 196, 119);
    color: rgb(4, 73, 0);
}

#copy-notification {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: lightgreen;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.3s, transform 1s;
}

#copy-notification.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-20px) scale(1.05);
    animation: pop 0.5s;
}






